* {
  transition: 0.22s;
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  min-width: inherit;
}
p.ex1 {
  max-width: 50%;
}
.postbox {
  word-break: break-all;
  background-color: rgba(40, 90, 130, 0.5) ;
  width: 820px;
  border-radius: 5px;
  user-select: text;
  -webkit-user-select: text; /* Safari 3.1+ */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
}
.postbox a {
  text-decoration: underline;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.repbox {
  word-break: break-all;
  border-left: none;
  background: none;
  border-bottom: solid;
  border-top: solid;
  border-right: solid;
  border-width: thin;
  width: 500px;
  max-height: 233px;
  border-radius: 5px;
  overflow-y: auto;
  user-select: text;
  -webkit-user-select: text; /* Safari 3.1+ */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
}
.reppp {
  word-break: break-all;
    background-color: rgba(40, 90, 130, 0.5) ;
}
label {
  cursor: text;
}
.showrep:hover {
  opacity: 0.5;
}
.unrep:hover {
  opacity: 0.5;
}
.logo {
  width: 180px;
  height: 140px;
  filter: grayscale(100%);
}
body {
  background-image: url('bg.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Microsoft JhengHei Light;
  color: white;
}
.header {
  border-bottom: solid;
  color: white;
  border-width: thin;
}
.menu {
  padding-left: 60px;
}
a {
text-decoration: none; color: white;
}
.linker:hover {
  opacity: 0.5;

}
.homepp {
  position: relative;
  border-radius: 20px;
  left: -10px;
  width: 40px;
  height: 40px;
}
.linker {
  font-size: 20px;
  padding-left: 60px;
}
.work {

    display:inline;
    width: 20px;
    height: 20px;
    padding-top: 20px;
    padding-left: 70px;
    outline: none;
    cursor: pointer;
    transition: 0.22px;
}
.work2 {
  width: 20px;
  height: 20px;
  outline: none;
  transition: 0.2px;
  border: none;
  background: none;
}
.imageprev {
  display: none;
  width: 300px;
  min-height: 150px;
  border-left: none;
  background: none;
  border-radius: 20px;
  border-bottom: solid;
  border-top: solid;
  border-right: solid;
  border-width: thin;
  align-items: center;
  justify-content: center;

}
.likedalready {
  width: 20px;
  height: 20px;
  outline: none;
  cursor: default;
  transition: 0.2px;
  border: none;
  background: none;
  opacity: 0.5;
}
.likebtn {
  width: 20px;
  height: 20px;
  outline: none;
  cursor: default;
  transition: 0.2px;
  border: none;
  background: none;
}
a:hover{
  opacity: 0.5;
}
.work:hover {
  transform: rotateY(12deg);
}
.active {
  display: inline-block;
  font-size: 20px;
  padding-left: 60px;

  opacity: 0.5;
}
.searchbutton {
  width: 20px;
  height: 20px;
  padding-top: 20px;
  padding-left: 13px;
  outline: none;
  transition: 0.22s;
}
.showpassword {
  width: 20px;
  height: 20px;
  color: white;
}
.searchbutton:hover {
  opacity: 0.5;
}
.mobilemore {
  display: none;
}
.bar {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: solid;
  color: white;
  border-radius: 33px 20px;
  background-color: rgba(40, 90, 130, 0.5) ;
  font-family: Microsoft JhengHei Light;
  outline: none;
  transition: 0.22s;
}
option {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: solid;
  color: white;
  border-radius: 33px 20px;
  background-color: rgba(40, 90, 130, 0.5) ;
  font-family: Microsoft JhengHei Light;
  outline: none;
}
.srchbar {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: solid;
  color: white;
  border-radius: 18px 20px;
  background-color: rgba(40, 90, 130, 0.5) ;
  font-family: Microsoft JhengHei Light;
  outline: none;
  width: 1%;
  transition: 0.8s;
}
.lol {
  font-size: 22px;
background-color: rgba(40, 90, 130, 0.5) ;
border-left: none;
color: white;
border-radius: 33px 20px;
font-style: italic;
font-size: 19px;
transition: 0.22s;
}
.lol:hover {
  transform: rotateY(12deg);
}
.profilemob {
  background-color: rgba(40, 90, 130, 0.5) ;
  float: right;
  width: 200px;
}
.urhomepp {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
button:hover {
  transform: rotateY(12deg);
}
.bar:hover {
  opacity: 0.8;
}
button {
border-top: none;
border-bottom: none;
border-right: none;
border-left: solid;
color: white;
border-radius: 33px 20px;
background-color: rgba(40, 90, 130, 0.5) ;
font-family: Microsoft JhengHei Light;
outline: none;
font-size: 15px;
cursor: pointer;
}
.submit {
  border: solid;
  color: white;
  border-radius: 18px 20px;
  background-color: rgba(40, 90, 130, 0.2) ;
  border-width: thin;
  font-family: Microsoft JhengHei Light;
  outline: none;
  font-size: 18px;
  cursor: pointer:
  position: absolute;
}
button:hover {
  opacity: 0.5;
}
.ran {
  margin-right: auto;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;

}
.mobilemenu {
  display: none;
}
.mobil {
  display: none;
}
.mobilelinks {
  display: none;
}
@media screen and (max-width: 900px) {
  label {
    cursor: text;
    font-size: 15px;
  }
  span {
    font-size: 15px;
  }
  .header {
    width: 200%;
    position: relative;

  }
  .linker {
    display: none;
  }
  .lol {
    width: 100%;
  }
  .drop {
    display: none;
  }
  .logo {
    position: relative;
    left: 0 auto;
    right: 0 auto;

  }
  .mobilemenu {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
  }

  .content {

    position: relative;
    text-align: center;

  }
  .container {
    display: none;
  }
  .bar1 {
    display: none;
  }
  .bar3 {
    display: none;
  }
  .bar2 {
    display: none;
  }
  .moreofmorebuttons {
      display: none;
  }
  .mobilemore {
    display: block;
      text-align: center;
  }
  .moreof {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  label {
    cursor: text;
    font-size: 15px;
  }
  span {
    font-size: 15px;
  }
  .header {
    width: 200%;
    position: relative;
    left: 50%;
    right: 50%;
  }
  .moreofmorebuttons {
      display: none;
  }
  .mobilemore {
    display: block;
    text-align: center;
  }
  .moreof{
    display: none;
  }
  .linker {
    display: none;
  }
  .work {
    display: none;
  }
  .lol {
    width: 100%;
  }
  .drop{
    position: absolute;
    width: 1px;
    left: 40%;
    overflow: hidden;


  }
  .logo {
    position: relative;
    left: 0 auto;
    right: 0 auto;
    left: 25%;
    right: 75%;
  }
  .mobilemenu {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    left: 50%;
    right: 50%;
    border-bottom: solid;
    border-width: thin;
    border-color: white;
  }
  .mobilelinks {
    display: block;
  }
  .motext {
    display: inline-block;
  }
  .mobil {
    display: block;
    position: relative;
    text-align: center;
    left: 50%;
    right: 50%;
    width: 20px;
    height: 20px;
  }
  .content {

    position: relative;
    text-align: center;
    left: 50%;
    right: 50%;
  }
  .container {
    display: none;
  }
  .bar1 {
    display: none;
  }
  .bar3 {
    display: none;
  }
  .bar2 {
    display: none;
  }
}
.container {
  display: inline-block;
  cursor: pointer;
  float: right;
  border: none;
  width: 5%;
  padding-top: 100px;
  position: absolute;
}
.container:hover {
  opacity: 0.5;
}
.bottomtext{
  position: relative;

  left: 0%;
  right: 100%;
  text-align: center;

}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.drop {
  background-color: rgba(40, 90, 90, 0.8) ;
  height: 0;

  display: inline-block;
  border-radius: 10px 10px;
  border-left: solid;
  border-width: thin;
  top: 147px;
  position: absolute;
  right: 0;
  transition: 0.4s;
  overflow-y: scroll;
  max-height: calc(100vh - 12rem);
``
    transition: 0.5s;
}
.show {display: block;}
.ytv {
  float: right;
  display: inline-block;
  border-left: solid;
  border-width: thin;
  background-color: rgba(40, 90, 130, 0.5) ;
  border-radius: 30px 20px;
}
.sign {
  text-decoration: underline;
}
.aktif {
  opacity: 0.5;

}
.que {
  background-color: rgba(40, 90, 90, 0.5) ;
  border-left: solid;
  border-width: thin;
  border-color: white;
  width: 60%;
  border-radius: 5px;
}
textarea {
  resize: none;
  border-left: solid;
  color: white;
  border-radius: 10px;
  background-color: rgba(40, 90, 130, 0.5) ;
  font-family: Microsoft JhengHei Light;
  outline: none;
}
.comun {
  position: relative;
  left: 10px;
  resize: none;
  border: none;
  color: white;
  background-color: rgba(40, 90, 130, 0) ;
  font-family: Microsoft JhengHei Light;
  outline: none;
}
.post {
  border-left: none;
  background: none;
  border-bottom: solid;
  border-top: solid;
  border-right: solid;
  border-width: thin;
  border-radius: 20px 20px;
  width: 60%;
}

.repost {
  position: relative;
  left: 30px;
  border-left: none;
  background: none;
  border-bottom: solid;
  border-top: solid;
  border-right: solid;
  border-width: thin;
  border-radius: 20px 20px;
  width: 30%;
  height: 110px;
}
​::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.sizeup {
  height: 550px;
}
.showpw {
  border-top: solid;
  border-bottom: none;
  border-left: none;
  width: 2%;
}

.mor {
height: 0;
width: 100%;
border-left: solid;
background-color: rgba(40, 90, 130, 0.5) ;

}
.more {
  border-top: solid;
  border-width: thin;
  width: 0;
  transition: 1s;
  top: 0;
  left: 0;
  overflow: hidden;
}
.showmore {
  width: 100%;
  height: 100%;
}
.showmuch {
  height: 1100px;
}
.much {
  transition: 2s;
  height: 0;
  top: 0;
  left: 0;
    bottom: 0;
  overflow: hidden;
}
.moreofmore {
  overflow: hidden;
  float: right;

  }
.moreofmorebuttons {

  width: 21%;
  float: right;
  color: white;
  border-left: none ;
  border-right: solid ;
  font-style: italic;
  font-size: 19px;
}
video {
  outline: none;
}

.important {
  text-decoration: underline;
}
.postingan {
  border-left: solid;
  background-color: rgba(40, 90, 130, 0.5) ;
  border-width: thin;
  border-radius: 10px;
  width: 75%;
}
.bio {
  border-left: solid;
  border-width: thin;
  border-radius: 10px;
  width: 75%;
}
.stylesr{
  width: 40%;
}
